@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marck+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Comfortaa', cursive;
}

body {
  background-color: #f1fbff;
}

.calendar {
  padding: 20px 40px;
}

.calendar .calendar-header {
  border: none;
}

.calendar .calendar-header .year-title {
  font-size: 4em;
  font-family: 'Dancing Script', cursive;
  color: #f75c90;
}

.calendar .calendar-header .year-neighbor {
  font-size: 2.25em;
}

.calendar .calendar-header .year-neighbor2 {
  font-size: 1em;
}

.calendar .calendar-header table th:hover {
  background-color: transparent;
}

.calendar .months-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
}

.calendar .months-container .month-container {
  background-color: #fff;
  padding: 20px;
  min-width: 280px;
  -webkit-box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
          box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}

.calendar .months-container .month-container table.month tr td {
  font-size: 0.9em;
  font-weight: 500;
  color: #777;
}

.calendar .months-container .month-container table.month th.month-title {
  color: #5a8990;
  font-size: 1.9em;
  font-weight: 200;
  font-family: 'Marck Script', cursive;
}

.calendar .months-container .month-container table.month th.day-header {
  color: #777;
  font-size: 0.9em;
  font-weight: 700;
}

.calendar .months-container .month-container table.month td.day .day-content {
  padding: 6px 8px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.calendar .months-container .month-container table.month td.day .day-content:hover {
  background-color: #f75c908c;
  color: #fff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.calendar .months-container .month-container table.month td:nth-child(6),
.calendar .months-container .month-container table.month td:nth-child(7),
.calendar .months-container .month-container table.month thead tr:nth-child(2) th:nth-child(6),
.calendar .months-container .month-container table.month thead tr:nth-child(2) th:nth-child(7) {
  color: #f75c90;
}
